body{

    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:azure;
}

#title{

    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size:xx-large;
    
}

header{

    background-color: #6DA34D;
}

.navitem{

    
    padding: 5px 5px 5px 5px;
    display: inline-block;

}

.navitem:hover{

    background-color:#548687;
}

#index-body{

    padding-top: 30px;
}

.bodylink{

    padding: 10px 10px 10px 50px;
    display: block;
}

a{
    text-decoration: none;
}

a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:#56445D;
}

#forms{

    width: 34vmax;
    float: left;

}

#tables{

    width: 65vmax;
    float: left;
}

#container{
    
    display: flex;
    width: 30vmax;
    background-color: white;
    margin: 5px;
    padding: 20px 20px 20px 20px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px  #8FBC94;
    flex-wrap: wrap;
}

#table-container{

    display: inline-block;
    width: 60vmax;
    height: 35vmin;
    background-color: white;
    margin: 5px;
    padding: 20px 20px 20px 20px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px  #8FBC94;
    
}

.action-label{

    flex-basis: 100%;

}

label{

    padding: 5px 5px 5px 5px;
}

/*Colors
#6DA34D Bud Green
#56445D English Violet
#548687 Steel Teal
#8FBC94 Dark Sea Green
#C5E99B Yellow Green Crayola
*/
