<header>
    <h1 id="title"><a href="index">Game Sales</a></h1>
    <div id="head">
        <a href ="Customers" class="navitem"> Customers</a>
        <a href ="Reviews" class="navitem"> Reviews</a>
        <a href ="Games" class="navitem"> Games</a>
        <a href ="Sales" class="navitem"> Sales</a>
        <a href ="Genres" class="navitem"> Genres</a>
    </div>
</header>
