<header>
    <h1 id="title"><a href="index.html">Game Sales</a></h1>
    <div id="head">
        <a href ="Customers.html" class="navitem"> Customers</a>
        <a href ="Reviews.html" class="navitem"> Reviews</a>
        <a href ="Games.html" class="navitem"> Games</a>
        <a href ="Sales.html" class="navitem"> Sales</a>
        <a href ="Genres.html" class="navitem"> Genres</a>
    </div>
</header>