<!-- index.hbs -->

{{> header}}

<div id="index-body">
    <a href ="/Customers" class="bodylink"> Customers</a>
    <a href ="/Reviews" class="bodylink"> Reviews</a>
    <a href ="/Games" class="bodylink"> Games</a>
    <a href ="/Sales" class="bodylink"> Sales</a>
    <a href ="/Genres" class="bodylink"> Genres</a>
</div>