<!-- main.hbs-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game Sales Site</title>
        <link rel="stylesheet" href="/css/style.css" media="screen">
    </head>
    <body>

        {{{body}}}

    </body>
</html>
